/* App.css */

.App {
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px ,35px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 1000px;
}

.navbar-links {
  display: flex;
  list-style: none;
  margin: 40px;
  padding:4px;
}

.navbar-item {
  margin-right: 150px;
  font-size: 2rem;
}

.navbar-item a {
  text-decoration: none;
  color: black;
  position: relative;
  transition: color 0.3s ease;
}

.navbar-item a:hover,
.navbar-item a:focus,
.navbar-item a:active {
  color: black;
  border-bottom: 2px solid black;
}

.navbar-search {
  display: flex;
  align-items: center;
  background-color: #f1f1f1;
  border-radius: 3px;
  padding: 0px 50px;
  flex-grow: 1;
  margin: 10 50px;
  height: 5%;
  max-width: 280px;

  
}

.navbar-search input {
  border: none;
  background: none;
  background-color: #f1f1f1;
  outline: none;
  padding: 5px;
  font-size: 1.5rem;
  width: 100%;
}

.search-icon {
  color: rgb(83, 7, 7);
  font-size: 1rem;
  

  

}

.navbar-icons {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.icon {
  margin-right: 30px;
  margin-left: 30px;
  font-size: 2rem;
  cursor: pointer;
}

.cart-icon {
  position: relative;
  margin-right: 5px;
  margin-left: 10px;

  font-size:2rem;
  cursor: pointer;
}

.cart-count {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: rgb(255, 255, 255);
  color: rgb(33, 224, 221);
  border-radius: 100%;
  padding: 3px 5px;
  font-size: 0.9rem;
}

.menu{
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 10%;
  right: 20px;
  width: 200px;
  border-radius: 20px;
  overflow: hidden;
}

.menu-item {
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}

.menu-item:hover {
  background-color: #f1f1f1;
}
